.example-card {
  width: 400px;
  border: solid 0.3px black;

}

.boxUser{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}


.visDett{
position: absolute;
z-index: 3;
top: 25%;
right: calc(50% - 144px);

}




