<button mat-button (click)="Esc.emit()" >Esc</button>
<mat-card-content>
  <hr>
  <p>phone: {{dettaglioUser.phone}}</p><br>
  <hr>
  <p>address:<br>
    street: {{dettaglioUser.address.street}}<br>
    suite: {{dettaglioUser.address.suite}}<br>
    city: {{dettaglioUser.address.city}}</p><br>
<hr>
<p>company:<br>
    name: {{dettaglioUser.company.name}}<br>
    catchPhrase: {{dettaglioUser.company.catchPhrase}}<br>
    bs: {{dettaglioUser.company.bs}}<br>
</p>
<hr>
<p>website:{{dettaglioUser.website}}</p>


</mat-card-content>




