.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

a {
  margin: .5rem;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section+.demo-section {
  margin-top: 16px;
}

.mat-toolbar a:active {
  background-color: rgba(165, 42, 42, 0.514);
}

.mat-toolbar a:focus {
  background-color: rgba(255, 255, 255, 0.316);
}
